body{
    background:linear-gradient(rgb(207, 221, 10) ,rgb(16, 13, 187),rgb(163, 6, 6));
    color:darkblue;
    font-family: tahoma;
    margin:0px;
    padding-left: 11em;
}

h1{
    font-family: comic sans ms;
}

.imagen{
    width: 50%;
}


ul.navbar {
    position: absolute;
    top:30px;
    left:20px;
    width:100px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.navbar li{
background:rgb(27, 224, 215);
margin:8px 0px;
padding:5px;
border-right:20px solid yellowgreen;
}

ul.navbar a{
    text-decoration: none;
}

a:link{
    color:rgb(230, 18, 88);
}

a:visited {
    color:rgb(5, 31, 10);
}

address{
    margin-top:10px;
    padding-top: 10px;
    border-top:thin dotted;
   
}

.box{
border-radius:30px;
width:90%;
background: white;

}

#home {
    padding:10px;
}

#domicilios {
    padding-left:100px;
}

#formulario {
    padding:50px;
    height:200px;
}

#redes {
    padding:70px;
    
}