html,body{background:linear-gradient(rgb(146, 203, 241),rgb(15, 26, 180),rgb(2, 1, 56));
    color: beige;
    width:1280px;
    height:700px;
    margin:0;}

h1 {
    color:rgb(11, 124, 16);
  position: relative;
  bottom:-250px;
  text-align: center;
  font-family: forte;
}

header .row div a {
    font-family:agency fb;
}




header .row div a:hover {
    font-family:gabriola;
    color:black;
    text-decoration:overline;
}


header .row div a {
    font-family:agency fb;
}




/* Gallery measures that will be applied */
.galleria {
    height:400px;    /* defines a static gallery height */
    max-width:400px; /* defines a responsive width */
    background: rgb(51, 87, 3);
    color: rgb(7, 7, 7);
    text-align: center;
    margin-bottom:50px;
    margin-top:300px;
    position: relative;
    right:-500px;

    
    
    
}




header {
   
    width: 1350px;
    height: 200px;
}



header img{
    width: 200px;
    height:200px;
    position: relative;
    top:-65px;
}

header .row a{
font-size: 30px;
color: rgb(106, 22, 214);
font-family:trebuchet MS;
}









form.formulario{
    background:rgb(14, 65, 18);
    height:700px;
    width:500px;
    color:beige;
    position: relative;
    right:-400px;
    text-align: center;
    bottom:-300px;
    font-family: consolas ;
}


form.formulario label{
    
    color:#d4e2d9;
    font-size:40px;
    font-family: consolas;
}


form.formulario p{
    color:#d4e2d9;
    font-size:25px;
}

form.formulario input[type=text], form.formulario input[type=email], form.formulario input[type=password],form.formulario input[type=number]
{
    background: rgb(45, 97, 238);
    color:rgb(230, 213, 217);
    font-family:consolas;
    
}





form.formulario input[type=submit]{
    background: rgb(228, 216, 216);
    color:rgb(80, 218, 12);
    position: relative;
    bottom:-90px;
    
    width:200px;
    height: 50px;
}

form.formulario input[type=submit]:hover{
   background: rgba(23, 190, 98, 0.76);
   color: rgb(232, 221, 236);
   border: inset 5px rgb(182, 219, 16);
   margin-bottom:10px;
   text-decoration:line-through;
   font-size:30px;
   font-family:arial;
}

form.formulario input[type=submit]:active{
    background: rgba(67, 65, 71, 0.76);
    color: rgb(2, 15, 1);
    text-decoration: underline;
    
 }

 form.formulario input[type=checkbox]{
     margin-left:5px;
 }
 
footer{
    background:rgb(230, 10, 10);
    position: relative;
     bottom:-600px;
     right:-120px;
     
}

footer a {

color:rgb(14, 238, 44);
text-decoration: none;
font-family:papyrus;
}

footer a:hover{
    color:rgb(214, 211, 12);
    font-family: informal roman;
    font-size:30px;
}

 footer a img{
     width:100px;
     height:50px;
     margin:30px;
     
 }


 .noticias {
background: rgb(98, 99, 96);
color:rgb(60, 13, 170);
width:800px;
height:750px;
position: relative;
right:-300px;
bottom:-400px;
font-family:lucida calligraphy;
text-align: center;
 }

 .noticias h2{
     font-weight: bolder;
     text-transform: uppercase;
     font-size:40px;
     
 }

 .noticias article{
     padding:16px;
     font-size:15px;
     color:rgb(60, 13, 170);
     text-transform: capitalize;
 }


 .premios{
     background: linear-gradient(rgb(172, 102, 102),rgb(230, 11, 11),rgb(56, 1, 1));
     color:white;
     font-family: curlz mt;
     position: relative;
     bottom: -480px;
     right:-400px;
     width: 600px;
     height:550px;
     text-align: center;
 }
 
 .premios h2{
     font-size:40px;
     font-weight: bold;
     text-transform: uppercase;
 }

 .premios p{
     font-size:25px;
     text-transform: capitalize;
 }